<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />   
      <title>The Oresteia</title>
      <link href="layout.css" rel="stylesheet" />
	  <link href="border.css" rel="stylesheet" />
   </head>
   <body>
   
      <article>
         <h1>Oresteia</h1>
         <h2>by Aeschylus (458 BC)</h2>
         <p>God, whose law it is<br />
            that he who learns must suffer.<br /><br />
            And even in our sleep, <br />
            pain that cannot forget<br />
            falls drop by drop upon the heart,<br />
            and in our own despite, against our will,<br />
            comes wisdom to us by the awful grace of God.</p>
         <p><cite>Translated by Edith Hamilton</cite></p>
      </article>
      
   </body>
</html>
      