@charset "utf-8";

html {
}

body {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin: 70px auto;
  width: 680px;
}

body > article {
  width: 90%;
  color: rgb(101, 101, 101);
  padding: 0px 0px 20px 30px;
  background: url(back.png), url(aeschylus.png) no-repeat 95% 90%/25%,
    rgba(196, 74, 76, 0.6);
  background-clip: padding-box;
  background-blend-mode: overlay;
}

body > article > h1 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", Verdana, "sans-serif";
  font-size: 2.5em;
  line-height: 1.2em;
  margin-bottom: 0px;
}

body > article > h2 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", Verdana, "sans-serif";
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 0px;
}

body > article > p {
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times,
    "Times New Roman", "serif";
  font-size: 1.5em;
  margin: 2px 0px;
}

body > article > p > cite {
  font-size: 0.8em;
}
