h1,
.h1 {
  color: var(--heading-color-primary);
  font-size: clamp(1.6rem, 3vw + 1px, 4rem);
}
h2,
.h2 {
  color: var(--heading-color-secondary);
  font-size: clamp(1.5rem, 2vw + 2px, 3rem);
  margin-bottom: 1rem;
}

a,
a:hover,
a:focus {
  color: var(--text-color-primary);
}

.container {
  text-align: center;
}

ul.flex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
}

ul.flex li {
  height: 100%;
}

ul.flex li a {
  display: block;
  background-color: var(--card-bg);
  color: var(--card-text);
  padding: 0.8em 1em;
  text-decoration: none;
  border-radius: 3px;
  height: 100%;
}

ul.flex li a:hover {
  display: block;
  background-color: var(--heading-color-primary);
  color: #fff;
}
