<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>On First Looking into Chapman’s Homer</title>
    <link href="layout.css" rel="stylesheet" />
  </head>
  <body>
    <article>
      <h1>On First Looking into Chapman’s Homer</h1>
      <h2>by John Keats</h2>
      <p>
        Much have I travell’d in the realms of gold,<br />
        And many goodly states and kingdoms seen;<br />
        Round many western islands have I been<br />
        Which bards in fealty to Apollo hold.
      </p>
      <p>
        Oft of one wide expanse had I been told<br />
        That deep-browed Homer ruled as his demesne;<br />
        Yet did I never breathe its pure serene<br />
        Till I heard Chapman speak out loud and bold:
      </p>
      <p>
        Then felt I like some watcher of the skies<br />
        When a new planet swims into his ken;<br />
        Or like stout Cortez when with eagle eyes<br />
        He star’d at the Pacific — and all his men
      </p>
      <p>
        Look’d at each other with a wild surmise —<br />
        Silent, upon a peak in Darien.
      </p>
      <p><cite>October, 1816</cite></p>
    </article>
  </body>
</html>
