<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Javascript Functions</title>
  </head>
  <body>
    <script>
      console.log("gScript loaded!");

      function replaceMaster(sentance) {
        sentance = sentance || "default sentance with r";

        if (sentance.length > 0 && typeof sentance === "string") {
          return console.log(sentance.replace("r", "a"));
        } else {
          console.log("You dint enter anthing");
        }
      }

      replaceMaster("");

      function evenOrOdd(number) {
        if (number % 2 === 0) {
          return console.log("Even");
        } else {
          return console.log("odd");
        }
      }

      function addAll() {
        let total = 0;
        for (let i = 0; i < arguments.length; i++) {
          total += arguments[i];
        }

        return total;
      }
    </script>
  </body>
</html>
