<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Math Javascript</title>
  </head>
  <body>
    <script>
      console.log("Math.round(2.2) : ", Math.round(2.2));
      console.log("Math.round(2.49) : ", Math.round(2.49));
      console.log("Math.round(2.6) : ", Math.round(2.6));
      console.log("Math.round(2.9) : ", Math.round(2.9));
      console.log("");

      console.log("Math.ceil(2.2) : ", Math.ceil(2.2));
      console.log("Math.ceil(2.49) : ", Math.ceil(2.49));
      console.log("Math.ceil(2.6) : ", Math.ceil(2.6));
      console.log("Math.ceil(2.9) : ", Math.ceil(2.9));

      console.log("");

      console.log("Math.floor(2.2) : ", Math.floor(2.2));
      console.log("Math.floor(2.49) : ", Math.floor(2.49));
      console.log("Math.floor(2.6) : ", Math.floor(2.6));
      console.log("Math.floor(2.9) : ", Math.floor(2.9));

      console.log("");
      //generates a random number between 0 and 1
      console.log("Math.random : ", Math.random());

      //generated a random number between 0 and 20
      console.log("Math.random upto 20 : ", Math.round(Math.random() * 20));

      //generated a random number between 0 and 100
      console.log("Math.random upto 100 : ", Math.round(Math.random() * 100));
    </script>
  </body>
</html>
