<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Meta Viewport : desktop website</title>
</head>

<body>
    <h1>This is a website that does not adapt as per viewport layout.</h1>
    <h2>Website appears the same on mobile and desktop</h2>
    <h3>This is heading 3</h3>
    <p><a href="index.html">Go to mobile website with viewport meta tag</a></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem deleniti eum, neque quis, possimus
        officiis magnam dolor, nam beatae architecto saepe molestiae ab quia quos hic rem adipisci voluptas totam?
        Dicta rem minus incidunt quaerat saepe officia! Impedit quasi itaque quibusdam nulla odit reprehenderit laborum,
        cumque beatae qui, non quam deleniti asperiores consequuntur earum dolores mollitia autem consectetur, fuga
        incidunt.
        Mollitia, animi beatae deserunt qui reprehenderit aliquid necessitatibus distinctio facilis nostrum, tenetur
        laboriosam ab esse maiores voluptas ipsam itaque. Odio unde, soluta quia similique molestias libero at placeat
        magnam! Adipisci?
        Libero totam sint deserunt laborum sunt expedita iste culpa, sapiente qui! Aperiam laboriosam quos assumenda
        error repellat reiciendis dolore necessitatibus facere at, distinctio praesentium tenetur voluptas et vero nihil
        illum.
        Iure aliquam quam illo, inventore voluptatem facilis dolorem optio itaque saepe consequatur quasi quos? Ipsa
        reprehenderit illo laborum debitis accusamus nisi, sequi necessitatibus omnis explicabo quam. Laboriosam iste
        voluptatum voluptas.</p>
</body>

</html>