<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <!-- <script type="text/javascript">
        window.location.href = "https://iwiz.in";
    </script>-->
    <script>
        // window.addEventListener("DOMContentLoaded", () => {
        //     window.location.href = "https://iwiz.in";
        // });
    </script>
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            setTimeout(() => {
                window.location.href = "https://iwiz.in";
            }, 5000);
        });
    </script>
    <title>Page Redirection</title>
</head>

<body>
    <h1>This is javascript : auto redirect in few sec or immediately</h1>
    <p>If you are not redirected automatically, follow this <a href='https://iwiz.in'>link to example</a></p>
</body>

</html>