* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*=============General Grid=========*/

.generalGrid {
  display: grid;
  grid-gap: 5px;
  grid-template: repeat(2, 100px) / repeat(6, 1fr);
  margin-top: 20px;
  margin-bottom: 20px;
}

.generalGrid .child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkorange;
}

/*=============Container 2=========*/
.container2 {
  margin-top: 20px;
  background-color: pink;
  width: 800px;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 100px;
  row-gap: 20px;
  column-gap: 20px;
}

.container2 .item {
  background-color: yellow;
  overflow: auto;
  /* height: 122px;
    width: 122px; */
}

.container2 .header {
  /* grid-column-start: 1;
  grid-column-end: 4; */
  grid-column: 1 / span 3;
}

.container2 .footer {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: yellowgreen;
}

/*=============Container 3=========*/
.container3 {
  margin-top: 20px;
  background-color: peachpuff;
  width: 100%;
  height: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px 1fr 70px;
  row-gap: 20px;
  column-gap: 20px;
  justify-items: center;
  align-items: center;
  /*or*/
  /* place-items: center; */
}

.container3 .itemSize {
  background-color: yellow;
  height: 122px;
  width: 122px;
}
.container3 .alignRight {
  justify-self: end;
  align-self: flex-end;
}

.container3 .header {
  grid-column: 1 / span 3;
  width: 100%;
  height: 70px;
  background-color: yellow;
}

.container3 .footer {
  grid-column: 1 / span 3;
  width: 100%;
  background-color: #000;
  color: #fff;
  height: 70px;
}
