<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS GRID</title>
    <link rel="stylesheet" href="grid.css" />
  </head>
  <body>
    <h2>Grid Container 1</h2>
    <section class="container">
      <div class="item firstItem">Content 1</div>
      <div class="item">Content 2</div>
      <div class="item">Content 3</div>
      <div class="item">Content 4</div>
      <div class="item">Content 5</div>
      <div class="item">Content 6</div>
      <div class="item">Content 7</div>
      <div class="item">Content 8</div>
    </section>

    <h2>Grid Container 2</h2>
    <section class="container2">
      <div class="item header">This is the header</div>
      <div class="item">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
        deleniti distinctio, reiciendis dignissimos in recusandae quidem quasi
        ipsa eos impedit quae quaerat sapiente ullam aliquid similique libero
        adipisci esse corporis. Dolorem, illo! Ipsum dignissimos, totam modi
        quia nesciunt ducimus. Doloremque unde itaque perspiciatis magni
        quibusdam voluptatibus exercitationem praesentium accusamus ipsum odio
        temporibus explicabo magnam facere quas sit assumenda iure, optio animi
        cum amet. Asperiores fugit nisi aut, nihil iure non esse tempore magnam
        amet ut in porro pariatur quod, minima reprehenderit expedita illo fuga
        temporibus mollitia aperiam. Odit, hic corporis ipsum id voluptate non.
        Deleniti temporibus voluptate esse, tempore suscipit natus iure
        voluptatem. Aspernatur praesentium numquam sit maiores itaque quo
        possimus expedita nulla at hic autem in, ratione placeat nostrum
        voluptas, illum velit debitis. Facilis maxime quod deleniti voluptate,
        amet quidem, alias, porro reprehenderit nemo aperiam nam. Nesciunt esse
        culpa rerum facilis! Accusantium hic rem nobis minima cupiditate
        deserunt, eligendi aperiam dolor adipisci vel inventore aut sequi veniam
        quis temporibus exercitationem aliquam, quo, laudantium ipsum delectus!
        Hic natus asperiores reiciendis sint architecto cum, ipsam, laboriosam
        esse sequi quia aspernatur, eaque ex! Ducimus repellendus velit minus
        ratione. Sequi sed nesciunt ut cumque, rerum ex ducimus dolores aperiam
        quis, quia neque nam accusamus voluptatem mollitia eligendi quos et
        quaerat quisquam fugit obcaecati fugiat? Laborum repudiandae ratione
        adipisci commodi autem saepe harum, nobis voluptatibus eaque culpa vitae
        blanditiis facere possimus placeat iusto perferendis est quis voluptatum
        cumque amet? Cupiditate, provident facere temporibus fugiat nam ab.
        Dolor incidunt et unde nesciunt rerum rem eaque repellat dolorem
        dignissimos dicta? Omnis temporibus tenetur ducimus pariatur ullam
        beatae explicabo animi rerum, esse debitis deleniti, rem totam
        consequatur perspiciatis laborum magni vitae amet alias labore officiis
        aliquid. Animi quo nostrum harum tempore ab, aperiam corporis nobis
        architecto iste iusto provident alias, commodi inventore sed eum
        temporibus odio aspernatur sit! Quae quod commodi amet maxime quas.
        Porro quisquam eum, nisi id laudantium expedita at molestias facere,
        minima quidem quod eaque inventore fugit, iste maxime? Necessitatibus
        assumenda velit libero, repellat ea quam eveniet quaerat laudantium
        consequatur accusantium vel totam doloremque explicabo consectetur enim
        tempore voluptate eius. Dolorum facilis, tenetur adipisci accusamus
        ullam nisi maxime, vitae, et quo expedita corrupti autem. Amet odio in,
        corporis velit alias reprehenderit deleniti, sit illo aperiam, facere ea
        rem. Placeat modi illo ducimus possimus, voluptates laborum explicabo
        corrupti voluptatibus facilis similique itaque eaque quam adipisci
        accusantium culpa harum! Rerum quibusdam nesciunt autem reiciendis atque
        perferendis!
      </div>
      <div class="item">Content 3</div>
      <div class="item">Content 4</div>
      <div class="item footer">This is the footer</div>
    </section>

    <h2>Grid Container 3</h2>
    <section class="container3">
      <div class="item header">Header</div>
      <div class="item">Content 2</div>
      <div class="item alignRight">This is right aligned item</div>
      <div class="item">Content 4</div>
      <div class="item footer">Footer width 100%</div>
    </section>
  </body>
</html>
