<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid 3</title>
    <link rel="stylesheet" href="grid3.css" />
  </head>
  <body>
    <h1>Container 1</h1>
    <div class="container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
      <div>5</div>
      <div>6</div>
    </div>

    <h1>Container 2</h1>
    <div class="container2">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
      <div>5</div>
      <div>6</div>
    </div>

    <h1>Container 3</h1>
    <div class="container3">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
      <div>5</div>
      <div>6</div>
    </div>

    <h1>Container 4</h1>
    <div class="container4">
      <div class="header">Header</div>
      <div class="menu">Menu</div>
      <div class="content">Content</div>
      <div class="footer">Footer</div>
    </div>

    <h1>Container 5</h1>
    <div class="container5">
      <div class="header">Header</div>
      <div class="menu">Menu</div>
      <div class="content">Content</div>
      <div class="footer">Footer</div>
    </div>
  </body>
</html>
