<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS GRID</title>
    <link rel="stylesheet" href="grid2.css" />
  </head>
  <body>
    <h2>Animation Grid</h2>
    <section class="animated-grid">
      <div class="card">A</div>
      <div class="card">B</div>
      <div class="card">C</div>
      <div class="card">D</div>
      <div class="card">E</div>
      <div class="card">F</div>
      <div class="card">G</div>
      <div class="card">H</div>
      <div class="card">I</div>
      <div class="card">J</div>
      <div class="card">K</div>
      <div class="card">L</div>
      <div class="card">Main</div>
    </section>
    <h2>Grid 4 : auto-fit</h2>
    <section class="basic-grid">
      <div class="card">1</div>
      <div class="card">2</div>
      <div class="card">3</div>
      <div class="card">4</div>
      <div class="card">5</div>
      <div class="card">6</div>
      <div class="card">7</div>
      <div class="card">8</div>
      <div class="card">9</div>
      <div class="card">10</div>
      <div class="card">11</div>
      <div class="card">12</div>
    </section>

    <h2>Grid 4 : auto-fill</h2>

    <section class="basic-grid2">
      <div class="card">1</div>
      <div class="card">2</div>
      <div class="card">3</div>
      <div class="card">4</div>
    </section>

    <h2>Grid 4 : auto-fit</h2>

    <section class="basic-grid3">
      <div class="card">1</div>
      <div class="card">2</div>
      <div class="card">3</div>
      <div class="card">4</div>
    </section>

    <h2>Photo Grid</h2>
    <section class="photo-grid">
      <div style="background-image: url('../gallery-images/8.jpg')" class="card card-tall">8</div>
      <div style="background-image: url('../gallery-images/1.jpg')" class="card">1</div>
      <div style="background-image: url('../gallery-images/2.jpg')" class="card">2</div>
      <div style="background-image: url('../gallery-images/3.jpg')" class="card card-tall">3</div>
      <div style="background-image: url('../gallery-images/4.jpg')" class="card">4</div>
      <div style="background-image: url('../gallery-images/5.jpg')" class="card">5</div>
      <div style="background-image: url('../gallery-images/6.jpg')" class="card card-tall">6</div>
      <div style="background-image: url('../gallery-images/7.jpg')" class="card card-wide">7</div>

      <div style="background-image: url('../gallery-images/9.jpg')" class="card">9</div>
      <div style="background-image: url('../gallery-images/10.jpg')" class="card card-tall">10</div>
      <div style="background-image: url('../gallery-images/11.jpg')" class="card card-superwide">11</div>
    </section>
  </body>
</html>
