body {
  background-color: red;
}

.container {
  display: grid;
  /* gap: 10px; */
  grid-gap: 3px;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 50px 50px;
}

.container div {
  background-color: #fff;
}

/*============ Container 2 ==================*/
.container2 {
  display: grid;
  /* gap: 10px; */
  grid-gap: 3px;
  grid-template-columns: 100px auto;
  grid-template-rows: 50px 50px 100px;
}

.container2 div {
  background-color: skyblue;
}

/*============ Container 3 ==================*/
.container3 {
  display: grid;
  grid-gap: 3px;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /*or */
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50px); */

  /*Short hand == rows / column*/
  grid-template: repeat(2, 50px) / repeat(3, 1fr);
}

.container3 div {
  background-color: #fff;
}

/*============ Container 4 ==================*/
.container4 {
  display: grid;
  grid-gap: 3px;
  grid-template: 80px 200px 80px / repeat(12, 1fr);
  font-size: 1em;
}

.container4 .header {
  background-color: skyblue;
  grid-column-start: 1;
  grid-column-end: -1;
}
.container4 .menu {
  background-color: slateblue;
  grid-column: 1/4;
}
.container4 .content {
  background-color: springgreen;
  grid-column: 4/-1;
}

.container4 .footer {
  background-color: violet;
  grid-column: 1/3;
  /* or */
  grid-column: span 2;
  /* or */
  grid-column: 1 / -1;
}

/*============ Container 4 ==================*/
.container5 {
  display: grid;
  grid-gap: 3px;
  grid-template: 80px 300px 80px / repeat(12, 1fr);
  font-size: 1em;
}

.container5 .header {
  background-color: skyblue;
  grid-column: 2/-1;
}
.container5 .menu {
  background-color: slateblue;
  grid-row: 1/3;
}
.container5 .content {
  background-color: springgreen;
  grid-column: 2/-1;

  /*or */
  /* grid-column: 2/ span (the remaining number of columns); */
}

.container5 .footer {
  background-color: violet;
  grid-column: 1 / -1;
}
