<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Sonnet XXXIII</title>
    <link href="layout.css" rel="stylesheet" />
    <link href="shadow.css" rel="stylesheet" />
    <link href="background.css" rel="stylesheet" />
    <style>
      article {
        background: url(landscape.png) no-repeat bottom / 100%,
          linear-gradient(
            165deg,
            black,
            rgb(0, 0, 200) 70%,
            rgb(211, 0, 55) 80%,
            orange 85%,
            yellow 87%
          );
      }
    </style>
  </head>
  <body>
    <article>
      <h1>Sonnet XXXIII</h1>
      <h2>by William Shakespeare</h2>
      <p>
        Full many a glorious morning have I seen<br />
        Flatter the mountain tops with sovereign eye,<br />
        Kissing with golden face the meadows green,<br />
        Gilding pale streams with heavenly alchemy;
      </p>
      <p>
        Anon permit the basest clouds to ride<br />
        With ugly rack on his celestial face,<br />
        And from the forlorn world his visage hide,<br />
        Stealing unseen to west with this disgrace:
      </p>
      <p>
        Even so my sun one early morn did shine,<br />
        With all triumphant splendour on my brow;<br />
        But out, alack, he was but one hour mine,<br />
        The region cloud hath mask'd him from me now.
      </p>
      <p>
        Yet him for this my love no whit disdaineth;<br />
        Suns of the world may stain when heaven's sun staineth.
      </p>
      <p><cite>1609</cite></p>
    </article>
  </body>
</html>
