<!DOCTYPE html>

<html lang="en">
   <head>
      <meta charset="utf-8" />   
      <title>All Day I Hear the Noise of Waters</title>
      <link href="layout.css" rel="stylesheet" />
      <link href="shadow.css" rel="stylesheet" />  
	  <link href="background.css" rel="stylesheet" /> 
   </head>
   <body>
   
      <article>
         <h1>All Day I Hear the Noise of Waters</h1>
         <h2>by James Joyce</h2>
         <p>All day I hear the noise of waters<br />
            Making moan, <br />
            Sad as the sea-bird is when, going<br />
            Forth alone,<br /> 
            He hears the winds cry to the water's<br /> 
            Monotone.</p> 

         <p>The grey winds, the cold winds are blowing<br /> 
            Where I go.<br />
            I hear the noise of many waters<br />
            Far below.<br />
            All day, all night, I hear them flowing <br />
            To and fro</p>
         <p><cite>May, 1907</cite></p>         
      </article>
      
   </body>
</html>
      