<!DOCTYPE html>

<html lang="en">
   <head>
      <meta charset="utf-8" />   
      <title>The Soldier</title>
      <link href="layout.css" rel="stylesheet" />
      <link href="background.css" rel="stylesheet" />
      <link href="border.css" rel="stylesheet" />   
      <link href="text.css" rel="stylesheet" />	  
   </head>
   <body>
   
      <article>
         <h1>The Soldier</h1>
         <h2>by Rupert Brooke</h2>
         <p>If I should die, think only this of me:<br />
            That there’s some corner of a foreign field<br />
            That is for ever England. There shall be<br />
            In that rich earth a richer dust concealed;<br />
            A dust whom England bore, shaped, made aware,<br />
            Gave, once, her flowers to love, her ways to roam;<br />
            A body of England’s, breathing English air,<br />
            Washed by the rivers, blest by suns of home.</p>

         <p>And think, this heart, all evil shed away,<br />
            A pulse in the eternal mind, no less<br />
            Gives somewhere back the thoughts <br />by England given;<br />
            Her sights and sounds; dreams happy as her day;<br />
            And laughter, learnt of friends; and gentleness,<br />
            In hearts at peace, under an English heaven.</p>
         <p><cite>1914</cite></p>         
      </article>
      
   </body>
</html>
      